version: '3.9'
services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-orbit}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-orbit}
      POSTGRES_DB: ${POSTGRES_DB:-orbit}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis:7-alpine
    restart: unless-stopped
    ports:
      - "6379:6379"
  minio:
    image: minio/minio:RELEASE.2024-04-18T19-09-19Z
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin}
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - miniodata:/data
  api:
    build:
      context: ./apps/api
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - minio
    ports:
      - "3001:3001"
    command: ["sh", "./scripts/migrate-and-start.sh"]

  admin:
    build:
      context: .
      dockerfile: apps/admin/Dockerfile
    env_file:
      - .env
    environment:
      NEXT_PUBLIC_API_URL: http://api:3001
    depends_on:
      - api
    ports:
      - "3000:3000"

  partner:
    build:
      context: .
      dockerfile: apps/partner/Dockerfile
    env_file:
      - .env
    environment:
      NEXT_PUBLIC_API_URL: http://api:3001
      PORT: 3002
    depends_on:
      - api
    ports:
      - "3002:3002"

volumes:
  pgdata:
  miniodata:
